body {

	margin: 0px;
	padding: 0px;
}

@import "grid";

.container {

	text-align: center;
	margin: 0 auto;

}

.col-3 img {

	display: inline-block;
	text-align: center;
	max-width: 100%;
	height: auto;
}